* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header {
    height: 71px;
    width: 100%;
    background: #3D0357;
    text-align: center;
    padding: 20px;
}

.header p{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
}

.containerproc{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

form {
    margin-right: 13%;
}

textarea {
    height: 300px !important;
    resize: none;
}

textarea:focus {
    outline: none;
}

.inputestiloproc {
    background-color: #F0F0F0;
    border: none;
    width: 119%;
    height: 40px;
    color: Black;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
}
.inputestiloprocdate {
    background-color: #F0F0F0;
    border: none;
    width: 119% !important;
    height: 40px;
    color: Black;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
}

.inputestiloproc2 {
    background-color: #F0F0F0;
    border: none;
    width: 119% !important;
    height: 40px;
    color: Black;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
}


.inputestilosidecadproc {
    background-color: #F0F0F0;
    border: none;
    width: 119% !important;
    margin-bottom: 10px;
    height: 40px;
    color: Black;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
}

input:focus::placeholder {
    color: transparent;
  }

input:focus {
    outline: none;
  }

.input p{
    color: #3D0357;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
    margin-top: 20px;
}

.inputSidebySide2 {
    margin-left: 200px;
    width: 22.5%;
}

.inputSidebySide2 p{
    color: #3D0357;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
    margin-top: 20px;
}

.inputSidebySide p{
    color: #3D0357;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
    margin-top: 20px;
}

.buttonline {
    display: flex;
    width: 119%;
}

.button {
    background: #3D0357;
    text-align: center;
    color: white;   
    width: 268px;
    height: 48px;
    font-size: 150%;
    margin-top: 20px;
    cursor: pointer;
}

.button2 {
    background: #3D0357;
    text-align: center;
    color: white;   
    width: 268px;
    height: 48px;
    font-size: 150%;
    margin-top: 20px;
    margin-left: auto;
    cursor: pointer;
}