* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header {
    height: 71px;
    width: 100%;
    background: #3D0357;
    text-align: center;
    padding: 20px;
}

.header p{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
}

.container{
    display: flex;
    justify-content: center;
}

form {
    margin-right: 13%;
}

.inputestilocadastrocliente {
    background-color: #F0F0F0;
    border: none;
    width: 122.5% !important;
    height: 40px;
    color: Black;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
}

.side {
    display: flex;
    width: 122.5% !important;
}


.inputestilocadastroclienteside {
    background-color: #F0F0F0;
    border: none;
    height: 40px;
    color: Black;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
    float: left !important;
    width: 100% !important;
}

.dtninputestilocadastroclienteside {
    background-color: #F0F0F0;
    border: none;
    height: 40px;
    color: Black;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
    float: left !important;
    width: 100% !important;
}

input:focus::placeholder {
    color: transparent;
  }

input:focus {
    outline: none;
  }

input {
    color: black !important;
}

.input p{
    color: #3D0357;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
    margin-top: 20px;
}


.inputSidebySide2 p{
    color: #3D0357;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
    margin-top: 20px;
}

.dtninputSidebySide2 {
    margin-left: 50%;
    width: 33% !important;
}

.dtninputSidebySide2 p{
    color: #3D0357;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
    margin-top: 20px;
}


.inputSidebySide p{
    color: #3D0357;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
    margin-top: 20px;
}

.buttonline {
    display: flex;
    width: 119%;
}

.button {
    background: #3D0357;
    text-align: center;
    color: white;   
    width: 268px;
    height: 48px;
    font-size: 150%;
    margin-top: 20px;
    cursor: pointer;
}

.button2 {
    background: #3D0357;
    text-align: center;
    color: white;   
    width: 268px;
    height: 48px;
    font-size: 150%;
    margin-top: 20px;
    margin-left: auto;
    cursor: pointer;
}

@media (max-width: 800px) {
    .inputestilocadastroclienteside input {
      margin: 10px 0;
    }

    .dtninputSidebySide2 {
        margin-left: 0px !important;
        width: 100% !important;
      }
    
    .inputestilocadastroclienteside {
        width: 121% !important;
    }
  
    .side {
      flex-direction: column;
      align-items: stretch;
    }
  }