* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header {
    height: 71px;
    width: 100%;
    background: #3D0357;
    text-align: center;
    padding: 20px;
}

.header p{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
}

.side {
    display: flex;
}

.container{
    display: flex;
    justify-content: center;
}

form {
    margin-right: 13%;
}

.inputestilo {
    background-color: #F0F0F0 !important;
    border: none !important;
    width: 34.2%!important;
    height: 40px !important;
    color: Black !important;
    font-family: 'Inter', sans-serif !important;
    font-size: 150%;
    margin-right: 15px;
}

.inputestilo2 {
    background-color: #F0F0F0;
    border: none;
    margin-top: 40px;
    width: 139%;
    height: 400px;
    color: Black;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
    padding: 5%;
}

.inputestilo3 {
    background-color: #F0F0F0;
    border: none;
    width: 139%;
    height: 40px;
    color: Black;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
}


input2 {
    display: flex;
}

input2:focus::placeholder {
    color: transparent;
  }

input2:focus {
    outline: none;
  }

.input2 p{
    color: #3D0357;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
    margin-top: 10px;
    text-align: left;
}


.lineclient {
    display: flex;
}

.buttonclient {
    float: left;
    margin-left: 20px;
    background: #3D0357;
    text-align: center;
    color: white;   
    width: 10%;
    font-size: 80%;
    cursor: pointer;
}

.showclient {
    width: 85%;
}

::placeholder {
    color: black !important;
}

input:focus::placeholder {
    color: transparent;
  }

input:focus {
    outline: none;
  }

.input p{
    color: #3D0357;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
    margin-top: 10px;
}


.buttonline {
    display: flex;
}

.button {
    background: #3D0357;
    text-align: center;
    color: white;   
    width: 268px;
    height: 48px;
    font-size: 150%;
    margin-top: 20px;
    cursor: pointer;
}

.button2 {
    background: #3D0357;
    text-align: center;
    color: white;   
    width: 268px;
    height: 48px;
    font-size: 150%;
    margin-top: 20px;
    margin-left: auto;
    cursor: pointer;
}

.datainput2 {
    background-color: #F0F0F0;
    border: none;
    height: 40px;
    color: Black;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
    margin-right: 20px;
    width: 30.1% !important;
}

.datainput2::placeholder {
    color: black !important;
}
